#education{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 155px;
}
#education h1{
    display: block;
    color: gainsboro;
    text-align: center;
    text-decoration: underline;
}
.edu{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.edu-col1,.edu-col2,.edu-col3{
    width: 20%;
    color: gainsboro;
    border: 3px solid #C0C0C0;
    border-radius: 3px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.edu-col1 img,.edu-col2 img,.edu-col3 img{
    width: 100%;
}
.edu-col1:hover,.edu-col2:hover,.edu-col3:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1024px) {
    .edu {
        gap: 40px;
    }
    .edu-col1, .edu-col2, .edu-col3 {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .edu {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .edu-col1, .edu-col2, .edu-col3 {
        width: 40%;
    }
}
@media screen and (max-width: 480px) {
    .edu-col1, .edu-col2, .edu-col3 {
        width: 70%;
    }
}